@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');/*importando uma fonte do google*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

/*declaração de variaveis*/
:root{
    --cor-primaria: black;
    --cor-secundaria: #F6F6F6;
    --cor-terciario: #22D4FD;
    --cor-hover: #272727;

    --font-principal: 'krona one', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}


*{/*css reset*/
    margin: 0;
    padding: 0;
}


body{
    /*height: 100vh;vh é igual 100 viwport height(100 por cento da tela do dispositivo)*/
    box-sizing: border-box;/*mantem as tags filhas dentro da tag pai.*/
    background-color: var(--cor-primaria);/*chamando a variavel*/
    color: var(--cor-secundaria);
   /*font-family: Arial, Helvetica, sans-serif;*/ 
}
.cabecalho{
    padding: 2% 0% 0% 15%;
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciario);
    text-decoration: none;
}
.apresentacao{
    padding: 8% 15%;
    display: flex;/*mantem o alinhamento flex da tag main*/
    align-items: center;
    justify-content: space-between;/*da espaço entre as seções*/
}
.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--font-principal);
}

.apresentacao__conteudo__paragrafo{
    font-size: 1.5rem;
    font-family: var(--font-secundaria);

}
.apresentacao__links__subtitulo{
    font-family: var(--font-principal);
    font-size: 1.5rem;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;/*muda a direção do posicionamento dos elementos de dentro da tag*/
    justify-content: space-between;
    align-items: center;
    gap: 32px; /*cria um espaço entre as linhas*/
}

.apresentacao__links__link{
    /*background-color: #22D4FD;*/
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciario);
    width: 280px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family: var(--font-secundaria);
}
.apresentacao__links__link:hover{
    background-color: var(--cor-hover);
}
.destaque-titulo{
    color: var(--cor-terciario);
}

.img-perfil{
    /*margin-right: 300px;*/
    border-radius: 10px;
   
}

.rodape{
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciario);
    text-align: center;
    font-weight: 400;
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
}
